<a href="https://colab.research.google.com/github/kakshaycs/RecommendSystem/blob/master/RecomendedSystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Importing Data

import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
from IPython.display import display, clear_output
from random import uniform
import time
from random import randint

In [69]:
# Run this cell to mount your Google Drive.
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [0]:
#loading data
data=pd.read_csv("drive/My Drive/Colab Notebooks/songsDataset.csv")

In [71]:
data.head()

   'userID'  'songID'  'rating'
0         0      7171         5
1         0      8637         4
2         0     21966         4
3         0     35821         5
4         0     82446         5

In [0]:
# change column name
data.columns=['userID','songID','rating']

In [73]:
# the no of user and Movie

print("Total no of User:- ",len(set(data['songID'])))
print("Total no of Songs",len(set(data['userID'])))

Total no of User:-  127771
Total no of Songs 200000

In [74]:
# this is the Rating matrix that contain column is user and rows is movies
"""    | movie1 | movie2 | movie3 
 user1  |   5    |    4   |    1
 user2  |   3    |        |    5
 user3  |   5    |    3   |    
  
"""
# the R matrix is boolean matrix that denote user rated that movie or not
print()

# Add all the rating in dictionary formate because it use a lot of data to store in matrices

In [75]:
Rating = dict()
for i in range(2000000):
  Rating[(data['userID'][i],data['songID'][i])] = data['rating'][i]
  if i%100000==0:
    clear_output(wait=True)
    print("complete :- ",i/(20000))

complete :-  95.0

**Now assume 5 features of each songs and user as well**

example:-           

1.   melody
2.   romance
3. Rock
4. pop
5. classic

***we assign a random value for each categories in User And Songs Features***


---


Total no of User is 127771 and Songs is 200000 <br> 
So we create two matrix    USER (127771  ,  5) and Song  (200000, 5)

In [0]:
def randomR():
  return round(randint(0,100)/randint(1,100),3)

In [0]:
USERS = [[randomR() for i in range(5)] for i in range(127771)]
SONGS = [[randomR() for i in range(5)] for i in range(200000)]

In [78]:
SONGS[:10]

[[8.3, 1.111, 26.667, 0.636, 3.96],
 [0.56, 1.255, 0.48, 1.139, 0.037],
 [1.452, 0.96, 0.611, 0.902, 1.8],
 [1.147, 1.691, 0.293, 0.814, 39.0],
 [0.595, 0.362, 1.609, 1.51, 1.737],
 [3.125, 0.224, 0.674, 1.123, 0.333],
 [0.711, 1.632, 0.686, 1.195, 0.348],
 [24.25, 2.727, 0.263, 3.333, 1.929],
 [1.34, 0.926, 0.542, 5.308, 0.161],
 [3.276, 0.138, 0.643, 1.846, 9.25]]

In [0]:
# define a function that produce dot product of Songs[i],user[j]
def DOT(A,B):
  Temp=0
  for i in range(5):
    Temp+=A[i]*B[i]
  return Temp

In [0]:
A=dict()
A['akshay']=1
A['kumar']=2
A['singh']=3

In [82]:
A

{'akshay': 1, 'kumar': 2, 'singh': 3}

In [86]:
for i in A:
  print(i)

akshay
kumar
singh